body {text-align: center; margin: 0 auto; background-image: url(images/cute-bright-candy.jpg); background-size: cover;}
p {width: 550px; text-align: center; margin: 0 auto; font-size: 25px;}
h4 {font-weight: bold; font-size: 30px;}
img {margin-top: 20px;}